.HeadingDiv{
    width: 100%;
    height: 45px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    justify-items: start;
    border-radius: 5px;
    .headingStyles{
        color: white;
        font-size: 16px;
    }
}
.inputDataDiv{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 10px;
    .saveButton{
        background-color: #212121;
        color: white;
    }
}